<label class="flex flex-end" *ngIf="data && data.length > 0">
	<input type="search" placeholder="nombre"  (keyup)="filtrar($event)"  (change)="filtrar($event)">
</label>
<app-loading *ngIf="!dataFilter"></app-loading>
<h2 *ngIf="data && data.length == 0 ">No se encuentra data</h2>

<h3 class="align-end" *ngIf="data && data.length > 0">{{dataFilter?.length}} resultados</h3>

<table class="table table-striped" *ngIf="data && data.length > 0 ">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">nombre</th>
			<th scope="col">patronus</th>
			<th scope="col">edad</th>
			<th scope="col">foto</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let dat of this.dataFilter; let i = index ">
			<th scope="row">{{i+1}}</th>
			<td>{{dat.name}}</td>
			<td>{{dat.patronus}}</td>
			<td>{{dat.yearOfBirth |calEdad }}</td>
			<td><img [src]='dat.image | img'>
			</td>
		</tr>
	</tbody>
</table>